footer {
  padding-top: 2em;
  padding-bottom: 2em;
}

footer div b {
  margin-left: 0.92em;
}

footer mat-divider {
  border-top-color: rgba(255, 255, 255, 0.12);
}

.info-item-container {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info-item-container div mat-list mat-list-item {
  height: 27px;
}

.info-item-container div mat-list mat-list-item mat-icon {
  margin-right: 0.21em;
  vertical-align: middle;
}

.info-item-container div mat-list mat-list-item span, a {
  vertical-align: middle;
}

.credits {
  text-align: center;
  margin-top: 1.2em;
  opacity: 0.34;
}

.credits img {
  width: 5.4em;
}
