<h1>Erstes Leopoldsdorfer Notenarchiv, das Original</h1>

<mat-form-field>
  <mat-label>Attribute</mat-label>
  <mat-select [formControl]="attributes" multiple>
    <mat-option *ngFor="let attribute of attributeList" [value]="attribute">{{attribute.name}}</mat-option>
  </mat-select>
</mat-form-field>


<table mat-table [dataSource]="scores" fixedLayout="true" class="mat-elevation-z8" style="width: 100%">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Titel</th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="subtitles">
    <th mat-header-cell *matHeaderCellDef> Untertitel</th>
    <td mat-cell *matCellDef="let element"> {{element.subtitles.join(', ')}} </td>
  </ng-container>

  <ng-container matColumnDef="composers">
    <th mat-header-cell *matHeaderCellDef> Komponisten</th>
    <td mat-cell *matCellDef="let element"> {{element.composers.join(', ')}} </td>
  </ng-container>

  <ng-container matColumnDef="arrangers">
    <th mat-header-cell *matHeaderCellDef> Arrangeure</th>
    <td mat-cell *matCellDef="let element"> {{element.arrangers.join(', ')}} </td>
  </ng-container>

  <ng-container matColumnDef="publisher">
    <th mat-header-cell *matHeaderCellDef> Verlag</th>
    <td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> Aufbewahrung</th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
  </ng-container>

  <ng-container matColumnDef="pages">
    <th mat-header-cell *matHeaderCellDef> Seiten</th>
    <td mat-cell *matCellDef="let element"> {{element.pages.map(pageToString).join(', ')}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="selectedValues"></tr>
  <tr mat-row *matRowDef="let row; columns: selectedValues;"></tr>
</table>
<mat-paginator [length]="totalRows" [pageSize]="limit" [pageSizeOptions]="pageSizes" (page)="changePage($event)"
               class="mat-elevation-z8" aria-label="Select page">
</mat-paginator>

<br/>
<br/>
<lid-score-editor [score]="scores[6]" style="width: 100%"></lid-score-editor>
