.orchestra-element {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

.orchestra-paragraph {
  text-align: center;
  margin-top: 2.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
