<h2 *ngIf="isNew">Neues Stück eintragen</h2>
<h2 *ngIf="!isNew">Stück bearbeiten</h2>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"/>
<lid-score-editor *ngIf="!isLoading" [score]="defaultScore"></lid-score-editor>
<div class="lid-button-row">
  <button [disabled]="isLoading || !scoreEditor?.scoreForm?.valid" color="primary" (click)="saveScore()" mat-raised-button>
    <ng-container *ngIf="isNew">Eintragen</ng-container>
    <ng-container *ngIf="!isNew">Ändern</ng-container>
  </button>
  <button (click)="cancel($event)" mat-raised-button>Abbrechen</button>
</div>
