<h2>Notenübersicht</h2>

<p>Hier wird die Möglichkeit zu Verfügung gestellt durch das gesamt Stück Sortiment zu stöbern.</p>

<div class="form-row">
  <mat-form-field class="form-ratio-1">
    <mat-label>Attribute</mat-label>
    <mat-select [formControl]="attributes" multiple>
      <mat-option *ngFor="let attribute of attributeList" [value]="attribute">{{attribute.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <form [formGroup]="scoreFilterForm" class="form-ratio-2 form-row">
    <mat-form-field class="form-ratio-2">
      <mat-label>Suchbegriff</mat-label>
      <input formControlName="searchTerm" matInput placeholder="z.B. Bitte gib">
    </mat-form-field>

    <mat-slide-toggle class="form-ratio-1" formControlName="regex" style="align-self: center">Regex</mat-slide-toggle>
  </form>
</div>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>search</mat-icon>
      Suchoptionen
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="scoreFilterForm">
    <div class="form-row">
      <mat-form-field class="form-ratio-2">
        <mat-label>Buch</mat-label>
        <mat-select formControlName="book" placeholder="Alle">
          <mat-option [value]="null">Alle</mat-option>
          <mat-option *ngFor="let book of booksStatistics.rows" [value]="book.key">{{book.key}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-ratio-2">
        <mat-label>Aufbewahrung</mat-label>
        <mat-select formControlName="location" placeholder="Alle">
          <mat-option [value]="null">Alle</mat-option>
          <mat-option *ngFor="let location of locationsStatistics.rows"
                      [value]="location.key">{{location.key}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-ratio-2">
        <mat-label>Suchfelder</mat-label>
        <mat-select formControlName="attributes" multiple placeholder="z.B. Titel, Alias">
          <mat-option *ngFor="let filterAttribute of filterAttributes"
                      [value]="filterAttribute.value">{{filterAttribute.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-expansion-panel>

<mat-progress-bar mode="indeterminate" *ngIf="inProgress"/>

<br/>

<table [dataSource]="scores" class="mat-elevation-z8" fixedLayout="true" mat-table style="width: 100%">
  <ng-container matColumnDef="title">
    <th *matHeaderCellDef mat-header-cell> Titel</th>
    <td *matCellDef="let element" mat-cell> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="subtitles">
    <th *matHeaderCellDef mat-header-cell> Untertitel</th>
    <td *matCellDef="let element" mat-cell> {{element.subtitles.join(', ')}} </td>
  </ng-container>

  <ng-container matColumnDef="composers">
    <th *matHeaderCellDef mat-header-cell> Komponisten</th>
    <td *matCellDef="let element" mat-cell> {{element.composers.join(', ')}} </td>
  </ng-container>

  <ng-container matColumnDef="arrangers">
    <th *matHeaderCellDef mat-header-cell> Arrangeure</th>
    <td *matCellDef="let element" mat-cell> {{element.arrangers.join(', ')}} </td>
  </ng-container>

  <ng-container matColumnDef="publisher">
    <th *matHeaderCellDef mat-header-cell> Verlag</th>
    <td *matCellDef="let element" mat-cell> {{element.publisher}} </td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th *matHeaderCellDef mat-header-cell> Aufbewahrung</th>
    <td *matCellDef="let element" mat-cell> {{element.location}} </td>
  </ng-container>

  <ng-container matColumnDef="pages">
    <th *matHeaderCellDef mat-header-cell> Seiten</th>
    <td *matCellDef="let element" mat-cell> {{element.pages.map(pageToString).join(', ')}} </td>
  </ng-container>

  <tr *matHeaderRowDef="selectedValues" mat-header-row></tr>
  <tr *matRowDef="let row; columns: selectedValues;" mat-row></tr>
</table>
<mat-paginator (page)="changePage()" (selectionchange)="changePage()" [length]="scores.totalAmount"
               [pageSizeOptions]="pageSizes"
               [pageSize]="limit"
               aria-label="Select page" class="mat-elevation-z8">
</mat-paginator>

<br/>
<br/>
<a mat-fab routerLink="/archive/scores/new">
  <mat-icon>add</mat-icon>
</a>
