<form [formGroup]="scoreForm">
  <div class="form-row">
    <mat-form-field class="form-ratio-1">
      <mat-label>Titel</mat-label>
      <input formControlName="title" matInput placeholder="z.B. Bitte gib mir eine Chance" required [lidTrim]="false">
    </mat-form-field>

    <mat-form-field class="form-ratio-2">
      <mat-label>Alias</mat-label>
      <lid-chip-list [formControl]="scoreForm.controls['alias']"
                     placeholder="Neuer Alias..."></lid-chip-list>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-ratio-1">
      <mat-label>Genres</mat-label>
      <lid-chip-list [allItems]="genres" [formControl]="scoreForm.controls['genres']"
                     placeholder="Neues Genre..."></lid-chip-list>
    </mat-form-field>

    <mat-form-field class="form-ratio-2">
      <mat-label>Untertitel</mat-label>
      <lid-chip-list [formControl]="scoreForm.controls['subtitles']"
                     placeholder="Neuer Untertitel..."></lid-chip-list>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-ratio-1">
      <mat-label>Komponisten</mat-label>
      <lid-chip-list [allItems]="composers" [formControl]="scoreForm.controls['composers']"
                     placeholder="Neuer Komponist..."></lid-chip-list>
    </mat-form-field>
    <mat-form-field class="form-ratio-1">
      <mat-label>Arrangeure</mat-label>
      <lid-chip-list [allItems]="arrangers" [formControl]="scoreForm.controls['arrangers']"
                     placeholder="Neuer Arrangeur..."></lid-chip-list>
    </mat-form-field>
    <mat-form-field class="form-ratio-1">
      <mat-label>Verlag</mat-label>
      <input [matAutocomplete]="auto" formControlName="publisher" matInput placeholder="z.B. Ewoton" [lidTrim]="true">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let publisher of filteredPublishers | async" [value]="publisher">
          {{publisher}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-ratio-1">
      <mat-label>Aufbewahrung</mat-label>
      <input [lidTrim]="true" [matAutocomplete]="locationAutocomplete" formControlName="location" matInput
             placeholder="z.B. Archiv">
      <mat-autocomplete #locationAutocomplete="matAutocomplete">
        <mat-option *ngFor="let location of filteredLocations | async" [value]="location">
          {{location}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="form-ratio-1">
      <mat-label>Stufe</mat-label>
      <input [lidTrim]="true" formControlName="grade" matInput placeholder="z.B. B">
    </mat-form-field>
    <mat-form-field class="form-ratio-1">
      <mat-label>Rückseite</mat-label>
      <input [lidTrim]="true" formControlName="back_title" matInput placeholder="z.B. Castaldo Marsch">
    </mat-form-field>
    <mat-checkbox class="form-ratio-1" formControlName="conductor_score">Partitur</mat-checkbox>
  </div>
  <div *ngFor="let pageForm of scoreForm.controls.pages.controls" [formGroup]="pageForm" class="form-row">
    <mat-form-field class="form-ratio-1">
      <mat-label>Buch</mat-label>
      <input formControlName="book" matInput placeholder="z.B. Rot">
<!--      <mat-autocomplete #bookAutocomplete="matAutocomplete">-->
<!--        <mat-option *ngFor="let book of bookAutocomplete | async" [value]="location">-->
<!--          {{location}}-->
<!--        </mat-option>-->
<!--      </mat-autocomplete>-->
    </mat-form-field>
    <mat-form-field class="form-ratio-1">
      <mat-label>Seitenbeginn</mat-label>
      <input lidPageNumber formControlName="begin" matInput placeholder="z.B. A4">
    </mat-form-field>
    <mat-form-field class="form-ratio-1">
      <mat-label>Seitenende</mat-label>
      <input lidPageNumber formControlName="end" matInput placeholder="z.B. A5">
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="addPage()">Neue Seite</button>
</form>
<pre *ngIf="true|debugDisplay">
  value is: {{scoreForm.getRawValue() | json}}
</pre>
