<form [formGroup]="scoreForm" fxLayout="row wrap">
  <div fxFlexFill fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px">
    <mat-form-field fxFlex>
      <mat-label>Titel</mat-label>
      <input formControlName="title" matInput placeholder="z.B. Bitte gib mir eine Chance" required [lidTrim]="false">
    </mat-form-field>
  </div>

  <div fxFlexFill fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px">
    <mat-form-field fxFlex>
      <mat-label>Genres</mat-label>
      <lid-chip-list [allItems]="genres" [formControl]="scoreForm.controls['genres']"
                     placeholder="Neues Genre..."></lid-chip-list>
    </mat-form-field>
  </div>

  <div fxFlexFill fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px">
    <mat-form-field fxFlex>
      <mat-label>Komponisten</mat-label>
      <lid-chip-list [allItems]="composers" [formControl]="scoreForm.controls['composers']"
                     placeholder="Neuer Komponist..."></lid-chip-list>
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Arrangeure</mat-label>
      <lid-chip-list [allItems]="arrangers" [formControl]="scoreForm.controls['arrangers']"
                     placeholder="Neuer Arrangeur..."></lid-chip-list>
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Verlag</mat-label>
      <input [matAutocomplete]="auto" formControlName="publisher" matInput placeholder="z.B. Ewoton" [lidTrim]="true">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let publisher of filteredPublishers | async" [value]="publisher">
          {{publisher}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div fxFlexFill fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px">
    <mat-form-field fxFlex>
      <mat-label>Aufbewahrung</mat-label>
      <input [lidTrim]="true" [matAutocomplete]="locationAutocomplete" formControlName="location" matInput
             placeholder="z.B. Archiv">
      <mat-autocomplete #locationAutocomplete="matAutocomplete">
        <mat-option *ngFor="let location of filteredLocations | async" [value]="location">
          {{location}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Stufe</mat-label>
      <input formControlName="grade" matInput placeholder="z.B. B" [lidTrim]="true">
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Rückseite</mat-label>
      <input formControlName="back_title" matInput placeholder="z.B. Castaldo Marsch" [lidTrim]="true">
    </mat-form-field>
    <mat-checkbox formControlName="conductor_score">Partitur</mat-checkbox>
  </div>
</form>
<pre *ngIf="true|debugDisplay">
  value is: {{scoreForm.getRawValue() | json}}
</pre>
