@use '@angular/material' as mat;
@use 'styles';

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$lid-primary-map: (
  50 : #e4eaf0,
  100 : #bbcada,
  200 : #8ea7c1,
  300 : #6183a8,
  400 : #3f6995,
  500 : #1d4e82,
  600 : #1a477a,
  700 : #153d6f,
  800 : #113565,
  900 : #0a2552,
  A100 : #87adff,
  A200 : #548aff,
  A400 : #2168ff,
  A700 : #0856ff,

);

$lid-accent-map: (
  50 : #f0e4e4,
  100 : #dabbbb,
  200 : #c18e8e,
  300 : #a86161,
  400 : #953f3f,
  500 : #821d1d,
  600 : #7a1a1a,
  700 : #6f1515,
  800 : #651111,
  900 : #520a0a,
  A100 : #ff8787,
  A200 : #ff5454,
  A400 : #ff2121,
  A700 : #ff0808,

);

$lid-primary-dark-map: ();
$lid-accent-dark-map: ();

$contrast-map: (
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

@each $key, $color in $lid-primary-map {
  $map: ();
  $map: map-merge($map, ($key: lighten($color, 34)));
  $lid-primary-dark-map: map-merge($lid-primary-dark-map, $map);
}

@each $key, $color in $lid-accent-map {
  $map: ();
  $map: map-merge($map, ($key: lighten($color, 34)));
  $lid-accent-dark-map: map-merge($lid-accent-dark-map, $map);
}

$lid-primary-map: map-merge($lid-primary-map, $contrast-map);
$lid-accent-map: map-merge($lid-accent-map, $contrast-map);
$lid-primary-dark-map: map-merge($lid-primary-dark-map, $contrast-map);
$lid-accent-dark-map: map-merge($lid-accent-dark-map, $contrast-map);

$lid-primary-palette: mat.define-palette($lid-primary-map);
$lid-accent-palette: mat.define-palette($lid-accent-map);
$lid-primary-dark-palette: mat.define-palette($lid-primary-dark-map);
$lid-accent-dark-palette: mat.define-palette($lid-accent-dark-map);

$lid-light-theme: mat.define-light-theme((
  color: (
    primary: $lid-primary-palette,
    accent: $lid-accent-palette,
  )
));

$lid-dark-theme: mat.define-dark-theme((
  color: (
    primary: $lid-primary-dark-palette,
    accent: $lid-accent-dark-palette,
  )
));

@include mat.legacy-core-theme($lid-light-theme);
@include mat.all-legacy-component-themes($lid-light-theme);
@include styles.background-color($lid-light-theme);

@media (prefers-color-scheme: dark) {
  @include mat.legacy-core-theme($lid-dark-theme);
  @include mat.all-legacy-component-themes($lid-dark-theme);
}
