<mat-toolbar class="mat-elevation-z8 top-bar lid-background-primary" color="primary">
  <button
    (click)="drawer.toggle()"
    aria-label="Toggle sidenav"
    mat-icon-button
    type="button">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Musikverein Leopoldsdorf</span>
</mat-toolbar>
<mat-sidenav-container [class.normal-toolbar-margin]="!(isHandset | async)"
                       [class.small-toolbar-margin]="isHandset | async"
                       class="sidenav-container">
  <mat-sidenav #drawer
               [class.normal-toolbar-margin]="!(isHandset | async)"
               [class.small-toolbar-margin]="isHandset | async"
               [mode]="(isHandset | async) ? 'over' : 'side'"
               [opened]="(isHandset | async) === false"
               class="sidenav"
               fixedInViewport>
    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngFor="let item of navigationItems">
        <a (click)="scroll(item.fragment)" *ngIf="item.scroll && item.fragment" mat-list-item>{{item.label}}</a>
        <a *ngIf="!item.scroll" [fragment]="item.fragment" [routerLink]="item.link" mat-list-item>{{item.label}}</a>
        <a (click)="scroll(subItem.fragment || '')" *ngFor="let subItem of item.children.filter(isScrollItem)"
           mat-list-item><span
          class="sub-item">{{subItem.label}}</span></a>
        <a *ngFor="let subItem of item.children.filter(isNotScrollItem)" [fragment]="subItem.fragment"
           [routerLink]="subItem.link" mat-list-item><span
          class="sub-item">{{subItem.label}}</span></a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
    <lid-footer></lid-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
