<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               class="sidenav"
               fixedInViewport>
    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngFor="let item of navigationItems">
        <a [routerLink]="item.link" [fragment]="item.fragment" mat-list-item>{{item.label}}</a>
        <a *ngFor="let subItem of item.children" [routerLink]="subItem.link" [fragment]="subItem.fragment" mat-list-item><span
          class="sub-item">{{subItem.label}}</span></a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z6" color="primary">
      <button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Musikverein Leopoldsdorf</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
