@use "@angular/material/theming" as mat;

.sidenav {
  width: 200px;
}

.top-bar {
  position: fixed;
  top: 0;
  z-index: 2;
}

.sub-item {
  margin-left: 0.8em;
}

.normal-toolbar-margin {
  margin-top: mat.$mat-toolbar-height-desktop;
}

.small-toolbar-margin {
  margin-top: mat.$mat-toolbar-height-mobile;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  height: 54%;
  margin-right: 0.54em;
}
