.orchestra-seat {
  display: inline;
  position: absolute;
  border-radius: 100%;
  background-color: darkred;
  align-self: center;
  margin-left: 50%;
  margin-right: 50%;
}

.orchestra-container {
  background-color: #7e4b15;
  position: relative;
  //height: 100%;
  //width: 100%;
}
