.orchestra-seat {
  display: inline;
  position: absolute;
  border-radius: 100%;
  align-self: center;
  margin-left: 50%;
  margin-right: 50%;
}

.orchestra-seat:hover {
  border-width: 0.3em;
  cursor: pointer;
}

.orchestra-container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
