<div class="orchestra-container" [style]="'height:' + height + 'em; width: ' + width + 'em;'">
  <span role="form" tabindex="0" (click)="infos(seat)" (keyup)="infos(seat)" *ngFor="let seat of orchestraSeats">
    <img [lidFallback]="seat.member.gender === 'm'? 'assets/avatar-male.svg' : 'assets/avatar-female.svg'"
         [matTooltip]="seat.member.firstName + ' ' + seat.member.lastName"
         [src]="photo(seat.member.username)"
         [style]="'left: ' + seat.coords.x + 'em; top: ' + seat.coords.y +'em; height: ' + iconSize + 'em; width: ' + iconSize + 'em;'"
         alt="seat" class="orchestra-seat"/></span>
</div>
