.orchestra-seat {
  position: absolute;
  height: 5em;
  width: 5em;
  border-radius: 100%;
  background-color: darkred;
}

.orchestra-container {
  background-color: #7e4b15;
  position: relative;
  height: 100%;
  width: 100%;
}
