<mat-card class="member-card">
  <mat-card-header>
    <mat-card-title>{{member.name}}</mat-card-title>
    <mat-card-subtitle>seit {{member.joining}}</mat-card-subtitle>
  </mat-card-header>
  <img [alt]="'Bild von ' + member.name" [fallback]="member.gender === 'm'? 'assets/avatar-male.svg' : 'assets/avatar-female.svg'"
       [src]="photo" mat-card-image class="photo">
  <mat-card-content>
    <p *ngIf="member.titles && member.titles.length > 0"><i>{{member.titles.join(', ')}}</i></p>
    <p *ngIf="!member.titles || member.titles.length === 0"><i>-</i></p>
  </mat-card-content>
</mat-card>
